
/* element selector */
h1,h3{
    color: #b92b27;
}
/*id selector */
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
}
/* class selector */
.upvote{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
p a{
    text-decoration: none;
    color: purple; 
    background-color: yellow;
}